/* .u-section-3

.u-sheet-1
.u-text-1  table title

.u-table-header-1  table header row
.u-table-footer-1  table footer row
.u-first-column    table first column

.u-table-cell-1    Compare Specifications
.u-table-cell-2 -3 -4  header row cell
.u-table-body-1     table all (data cells + left head cells)

.u-btn-*    buy buttons
*/
/* standard values to all ***********************************/
.u-section-3 {
/*  border:solid red; */ 
 margin-top:2%;
}
.u-section-3 .u-sheet-1 *{/* border:solid red; */}
.u-section-3 .u-sheet-1 {
/*  border:solid red; */
 width:100% !important; 
}
.u-section-3 .u-text-1 {
/*  border:solid red; */
  font-weight: 700;
 font-size:max(5vw,20px);
 margin:1vw 0;
 background:#ffc6c6
}
.u-section-3 .u-table-1 {
/*  border:solid red; */
  margin:2vw auto;
  text-transform: capitalize;
}
.u-section-3 .u-table-cell-1{
/*  border:solid red; */
 font-size:max(1.3vw,10px);
 text-align:center;
 font-weight:700;
 padding:0;
}
.u-section-3 .u-first-column{
/*  border:solid red; */
 width:200px; 
}
.u-section-3 .u-table-cell-2{background:#adff2fc7;}
.u-section-3 .u-table-cell-3{background:skyblue;}
.u-section-3 .u-table-cell-4{background:#eebaaf;}
.u-section-3 .u-column-2,
.u-section-3 .u-column-3,
.u-section-3 .u-column-4{
 font-size:1.5vw;
}
.u-section-3 .u-first-column:not(.u-table-cell-1){
/*  border:solid red; */
 background:rgb(218 217 217);
 font-weight: 600;
  font-size:max(1.2vw,10px);
 letter-spacing: 0.5px;
}
.u-section-3 .u-table-body-1 td:not(.u-first-column, .u-cell-price){
/*  border:solid red; */
  font-size: max(1vw,12px);
  text-align:left;
 letter-spacing:0.5px;
 font-weight:600;
}
.u-section-3 .u-cell-price {
/*  border:solid red; */
  font-size: max(1.5vw,17px);
  letter-spacing: 2px;
  font-weight: 700;
  transition-duration: 0.25s;
  color: #027b00;
}
.u-section-3 .u-cell-price:hover{
    transform: scale(1.1);
}
.u-section-3 .u-table-footer-1 *{
 border:solid transparent;
}
.u-section-3 .u-btn {
  text-transform: uppercase;
  font-size: 1.2vw;
  letter-spacing: 1px;
  font-weight: 700;
  text-align:center;
  margin: 0 20%;
 background:#f1c50e;
}
/* END: standard to all screens */
/*################ phone screens ##################*/
@media only screen and (width <= 800px){
.u-section-3 .u-table-1 {
/*  border:solid green; */
 overflow:scroll;
}
.u-section-3 .u-table-cell-1{
/*  border:solid green; */
 font-size:max(1.6vw,8px);
 padding:0 5px;
}
.u-section-3 .u-first-column {
/*  border:solid green; */
 max-width:100px !important
}
.u-section-3 .u-column-2,
.u-section-3 .u-column-3,
.u-section-3 .u-column-4{
/*  border:solid green; */
 font-size:max(2vw,11px);
}
.u-section-3 .u-first-column:not(.u-table-cell-1){
/*  border:solid green; */
 font-size:max(1.4vw,13px);
 padding:2px;
}
.u-section-3 .u-table-body-1 td:not(.u-first-column, .u-cell-price){
/*  border:solid green; */
  font-size: max(1.4vw,10px);
}
.u-section-3 .u-cell-price {
/*  border:solid green; */
  font-size: 14px;
  letter-spacing: 2px;
}
.u-section-3 .u-btn {
  font-size: max(1.4vw,10px);
  width: max(60%,100px);
  margin: 0 20%;
 padding:10px;
}
}/* END:  phone screens */
