.u-body
        {
        --text-font: 'Open Sans',sans-serif;
        --heading-font: Roboto,sans-serif;
        --title-font-weight: 400;
        --title-font-size: 6rem;
        --title-line-height: 1.1;
        --title-margin-top: 20px;
        --title-margin-bottom: 20px;
        --subtitle-font-weight: 400;
        --subtitle-font-size: 3rem;
        --subtitle-line-height: 1.1;
        --subtitle-margin-top: 20px;
        --subtitle-margin-bottom: 20px;
        --h1-font-weight: 400;
        --h1-font-size: 4.5rem;
        --h1-line-height: 1.1;
        --h1-margin-top: 20px;
        --h1-margin-bottom: 20px;
        --h2-font-weight: 400;
        --h2-font-size: 3rem;
        --h2-line-height: 1.1;
        --h2-margin-top: 20px;
        --h2-margin-bottom: 20px;
        --h3-font-size: 2.25rem;
        --h3-line-height: 1.2;
        --h3-margin-top: 20px;
        --h3-margin-bottom: 20px;
        --h3-font-weight: 700;
        --h3-list-icon-spacing: 0.3;
        --h3-list-icon-size: 0.8;
        --h3-font-family: Lato,sans-serif;
        --h4-font-weight: 400;
        --h4-font-size: 1.5rem;
        --h4-line-height: 1.2;
        --h4-margin-top: 20px;
        --h4-margin-bottom: 20px;
        --h5-font-weight: 400;
        --h5-font-size: 1.25rem;
        --h5-line-height: 1.2;
        --h5-margin-top: 20px;
        --h5-margin-bottom: 20px;
        --h6-font-weight: 400;
        --h6-font-size: 1.125rem;
        --h6-line-height: 1.2;
        --h6-margin-top: 20px;
        --h6-margin-bottom: 20px;
        --largeText-font-size: 1.5rem;
        --largeText-margin-top: 20px;
        --largeText-margin-bottom: 20px;
        --smallText-font-size: 0.875rem;
        --smallText-margin-top: 20px;
        --smallText-margin-bottom: 20px;
        --text-font-size: 1.125rem;
        --text-margin-top: 20px;
        --text-margin-bottom: 20px;
        --text-line-height: 1.6;
        --hyperlink-font-size: 1.125rem;
        --hyperlink-color: var(--palette-1-base);
        --hyperlink-line-height: 1.6;
        --hyperlink-alt-text-color: var(--palette-1-light-2);
        --hyperlink-hover-color: var(--palette-1-base-darker);
        --hyperlink-hover-alt-text-color: var(--grey-30-darker);
        --button-margin-top: 20px;
        --button-margin-bottom: 20px;
        --button-background-color: var(--palette-1-base);
        --button-color: var(--white);
        --button-alt-background-color: var(--palette-1-light-2);
        --button-alt-color: var(--black);
        --button-hover-background-color: var(--palette-1-base-darker);
        --button-hover-color: var(--white-darker);
        --button-hover-alt-background-color: var(--palette-1-light-2-darker);
        --button-hover-alt-color: var(--white);
        --button-hover-background-color: var(--palette-1-base-darker);
        --button-hover-color: var(--white-darker);
        --button-hover-alt-background-color: var(--palette-1-light-2-darker);
        --button-hover-alt-color: var(--white);
        --button-active-background-color: var(--palette-1-base-darker);
        --button-active-color: var(--white-darker);
        --button-active-alt-background-color: var(--palette-1-light-2-darker);
        --button-active-alt-color: var(--white);
        --blockquote-font-size: 1.125rem;
        --blockquote-font-style: italic;
        --blockquote-padding-left: 20px;
        --blockquote-border-width: 4px;
        --blockquote-border-color: var(--palette-1-base);
        --blockquote-margin-top: 20px;
        --blockquote-margin-bottom: 20px;
        --blockquote-line-height: 1.6;
        --metadata-margin-top: 20px;
        --metadata-margin-bottom: 20px;
        --metadata-line-height: 1.6;
        --list-font-size: 1.125rem;
        --list-margin-top: 20px;
        --list-margin-bottom: 20px;
        --list-line-height: 1.6;
        --orderedlist-font-size: 1.125rem;
        --orderedlist-margin-top: 20px;
        --orderedlist-margin-bottom: 20px;
        --orderedlist-line-height: 1.6;
        --postContent-font-size: 1.125rem;
        --postContent-margin-top: 20px;
        --postContent-margin-bottom: 20px;
        --postContent-line-height: 1.6;
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;
        --form-input-border-width: 1px;
        --form-input-border-color: var(--grey-30);
        --form-input-borders: top right bottom left;
        --form-input-background-color: var(--white);
        --form-input-color: var(--black);
        --title-font-size-lg: 4.5rem;
        --title-font-size-sm: 3.75rem;
        --title-font-size-xs: 3rem;
        --subtitle-font-size-sm: 2.25rem;
        --subtitle-font-size-xs: 1.875rem;
        --h1-font-size-lg: 3.75rem;
        --h1-font-size-sm: 3rem;
        --h1-font-size-xs: 2.25rem;
        --h2-font-size-sm: 2.25rem;
        --h2-font-size-xs: 1.875rem;
        --h3-font-size-sm: 1.875rem;
        --h3-font-size-xs: 1.5rem;
        --text-font-size-sm: 1rem;
        --hyperlink-font-size-sm: 1rem;
        --blockquote-font-size-sm: 1rem;
        --list-font-size-sm: 1rem;
        --orderedlist-font-size-sm: 1rem;
        --postContent-font-size-sm: 1rem;
        }

        /** common-rules **/
        h1.u-title
        {
        font-weight: var(--title-font-weight);
        font-size: var(--title-font-size);
        line-height: var(--title-line-height);
        margin-top: var(--title-margin-top);
        margin-bottom: var(--title-margin-bottom);
        }
        h2.u-subtitle
        {
        font-weight: var(--subtitle-font-weight);
        font-size: var(--subtitle-font-size);
        line-height: var(--subtitle-line-height);
        margin-top: var(--subtitle-margin-top);
        margin-bottom: var(--subtitle-margin-bottom);
        }
        h1:not(.u-title)
        {
        font-weight: var(--h1-font-weight);
        font-size: var(--h1-font-size);
        line-height: var(--h1-line-height);
        margin-top: var(--h1-margin-top);
        margin-bottom: var(--h1-margin-bottom);
        }
        h2:not(.u-subtitle)
        {
        font-weight: var(--h2-font-weight);
        font-size: var(--h2-font-size);
        line-height: var(--h2-line-height);
        margin-top: var(--h2-margin-top);
        margin-bottom: var(--h2-margin-bottom);
        }
        h3
        {
        font-size: var(--h3-font-size);
        line-height: var(--h3-line-height);
        margin-top: var(--h3-margin-top);
        margin-bottom: var(--h3-margin-bottom);
        font-weight: var(--h3-font-weight);
        list-icon-spacing: var(--h3-list-icon-spacing);
        list-icon-size: var(--h3-list-icon-size);
        font-family: var(--h3-font-family);
        }
        h4
        {
        font-weight: var(--h4-font-weight);
        font-size: var(--h4-font-size);
        line-height: var(--h4-line-height);
        margin-top: var(--h4-margin-top);
        margin-bottom: var(--h4-margin-bottom);
        }
        h5
        {
        font-weight: var(--h5-font-weight);
        font-size: var(--h5-font-size);
        line-height: var(--h5-line-height);
        margin-top: var(--h5-margin-top);
        margin-bottom: var(--h5-margin-bottom);
        }
        h6
        {
        font-weight: var(--h6-font-weight);
        font-size: var(--h6-font-size);
        line-height: var(--h6-line-height);
        margin-top: var(--h6-margin-top);
        margin-bottom: var(--h6-margin-bottom);
        }
        p.u-large-text
        {
        font-size: var(--largeText-font-size);
        margin-top: var(--largeText-margin-top);
        margin-bottom: var(--largeText-margin-bottom);
        }
        p.u-small-text
        {
        font-size: var(--smallText-font-size);
        margin-top: var(--smallText-margin-top);
        margin-bottom: var(--smallText-margin-bottom);
        }
        p:not(.u-text-variant)
        {
        font-size: var(--text-font-size);
        margin-top: var(--text-margin-top);
        margin-bottom: var(--text-margin-bottom);
        line-height: var(--text-line-height);
        }
        a
        {
        font-size: var(--hyperlink-font-size);
        line-height: var(--hyperlink-line-height);
        }
        .u-btn
        {
        margin-top: var(--button-margin-top);
        margin-bottom: var(--button-margin-bottom);
        }
        blockquote
        {
        font-size: var(--blockquote-font-size);
        font-style: var(--blockquote-font-style);
        padding-left: var(--blockquote-padding-left);
        border-width: var(--blockquote-border-width);
        margin-top: var(--blockquote-margin-top);
        margin-bottom: var(--blockquote-margin-bottom);
        line-height: var(--blockquote-line-height);
        }
        .u-metadata
        {
        margin-top: var(--metadata-margin-top);
        margin-bottom: var(--metadata-margin-bottom);
        line-height: var(--metadata-line-height);
        }
        ul:not(.u-unstyled)
        {
        font-size: var(--list-font-size);
        margin-top: var(--list-margin-top);
        margin-bottom: var(--list-margin-bottom);
        line-height: var(--list-line-height);
        }
        ol
        {
        font-size: var(--orderedlist-font-size);
        margin-top: var(--orderedlist-margin-top);
        margin-bottom: var(--orderedlist-margin-bottom);
        line-height: var(--orderedlist-line-height);
        }
        .u-post-content
        {
        font-size: var(--postContent-font-size);
        margin-top: var(--postContent-margin-top);
        margin-bottom: var(--postContent-margin-bottom);
        line-height: var(--postContent-line-height);
        }
        .u-input
        {
        border-width: var(--form-input-border-width);
        borders: var(--form-input-borders);
        }
        /** common-rules **/

        /** publish-rules **/
        /*begin-media rules*/
        @media (max-width: 1199px) {
        h1.u-title
        {
        font-size: var(--title-font-size-lg);
        }
        }
        @media (max-width: 767px) {
        h1.u-title
        {
        font-size: var(--title-font-size-sm);
        }
        }
        @media (max-width: 575px) {
        h1.u-title
        {
        font-size: var(--title-font-size-xs);
        }
        }
        @media (max-width: 767px) {
        h2.u-subtitle
        {
        font-size: var(--subtitle-font-size-sm);
        }
        }
        @media (max-width: 575px) {
        h2.u-subtitle
        {
        font-size: var(--subtitle-font-size-xs);
        }
        }
        @media (max-width: 1199px) {
        h1:not(.u-title)
        {
        font-size: var(--h1-font-size-lg);
        }
        }
        @media (max-width: 767px) {
        h1:not(.u-title)
        {
        font-size: var(--h1-font-size-sm);
        }
        }
        @media (max-width: 575px) {
        h1:not(.u-title)
        {
        font-size: var(--h1-font-size-xs);
        }
        }
        @media (max-width: 767px) {
        h2:not(.u-subtitle)
        {
        font-size: var(--h2-font-size-sm);
        }
        }
        @media (max-width: 575px) {
        h2:not(.u-subtitle)
        {
        font-size: var(--h2-font-size-xs);
        }
        }
        @media (max-width: 767px) {
        h3
        {
        font-size: var(--h3-font-size-sm);
        }
        }
        @media (max-width: 575px) {
        h3
        {
        font-size: var(--h3-font-size-xs);
        }
        }
        @media (max-width: 767px) {
        p:not(.u-text-variant)
        {
        font-size: var(--text-font-size-sm);
        }
        }
        @media (max-width: 767px) {
        a
        {
        font-size: var(--hyperlink-font-size-sm);
        }
        }
        @media (max-width: 767px) {
        blockquote
        {
        font-size: var(--blockquote-font-size-sm);
        }
        }
        @media (max-width: 767px) {
        ul:not(.u-unstyled)
        {
        font-size: var(--list-font-size-sm);
        }
        }
        @media (max-width: 767px) {
        ol
        {
        font-size: var(--orderedlist-font-size-sm);
        }
        }
        @media (max-width: 767px) {
        .u-post-content
        {
        font-size: var(--postContent-font-size-sm);
        }
        }
        /*end-media rules*/
        /** publish-rules **/

        

        /** cms-rules **/
        /*begin-responsive rules*/
        .u-lg h1.u-title
        {
        font-size: var(--title-font-size-lg);
        }
        .u-md h1.u-title
        {
        font-size: var(--title-font-size-lg);
        }
        .u-sm h1.u-title
        {
        font-size: var(--title-font-size-sm);
        }
        .u-xs h1.u-title
        {
        font-size: var(--title-font-size-xs);
        }
        .u-sm h2.u-subtitle
        {
        font-size: var(--subtitle-font-size-sm);
        }
        .u-xs h2.u-subtitle
        {
        font-size: var(--subtitle-font-size-xs);
        }
        .u-lg h1:not(.u-title)
        {
        font-size: var(--h1-font-size-lg);
        }
        .u-md h1:not(.u-title)
        {
        font-size: var(--h1-font-size-lg);
        }
        .u-sm h1:not(.u-title)
        {
        font-size: var(--h1-font-size-sm);
        }
        .u-xs h1:not(.u-title)
        {
        font-size: var(--h1-font-size-xs);
        }
        .u-sm h2:not(.u-subtitle)
        {
        font-size: var(--h2-font-size-sm);
        }
        .u-xs h2:not(.u-subtitle)
        {
        font-size: var(--h2-font-size-xs);
        }
        .u-sm h3
        {
        font-size: var(--h3-font-size-sm);
        }
        .u-xs h3
        {
        font-size: var(--h3-font-size-xs);
        }
        .u-sm p:not(.u-text-variant)
        {
        font-size: var(--text-font-size-sm);
        }
        .u-xs p:not(.u-text-variant)
        {
        font-size: var(--text-font-size-sm);
        }
        .u-sm a
        {
        font-size: var(--hyperlink-font-size-sm);
        }
        .u-xs a
        {
        font-size: var(--hyperlink-font-size-sm);
        }
        .u-sm blockquote
        {
        font-size: var(--blockquote-font-size-sm);
        }
        .u-xs blockquote
        {
        font-size: var(--blockquote-font-size-sm);
        }
        .u-sm ul:not(.u-unstyled)
        {
        font-size: var(--list-font-size-sm);
        }
        .u-xs ul:not(.u-unstyled)
        {
        font-size: var(--list-font-size-sm);
        }
        .u-sm ol
        {
        font-size: var(--orderedlist-font-size-sm);
        }
        .u-xs ol
        {
        font-size: var(--orderedlist-font-size-sm);
        }
        .u-sm .u-post-content
        {
        font-size: var(--postContent-font-size-sm);
        }
        .u-xs .u-post-content
        {
        font-size: var(--postContent-font-size-sm);
        }
        /*end-responsive rules*/
        /** cms-rules **/

        /** color-rules **/
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a,
        .u-gradient > .u-container-layout > a,
        .u-image:not(.u-shading) > .u-container-layout > a,
        a
        {
        color: var(--hyperlink-color);
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a:hover,
        .u-gradient > .u-container-layout > a:hover,
        .u-image:not(.u-shading) > .u-container-layout > a:hover,
        a:hover
        {
        color: var(--hyperlink-hover-color);
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
        .u-gradient > .u-container-layout > .u-btn,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn,
        .u-btn
        {
        background-color: var(--button-background-color);
        color: var(--button-color);
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:hover,
        .u-gradient > .u-container-layout > .u-btn:hover,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:hover,
        .u-btn:hover
        {
        background-color: var(--button-hover-background-color);
        color: var(--button-hover-color);
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:focus,
        .u-gradient > .u-container-layout > .u-btn:focus,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:focus,
        .u-btn:focus
        {
        background-color: var(--button-hover-background-color);
        color: var(--button-hover-color);
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:active,
        .u-gradient > .u-container-layout > .u-btn:active,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:active,
        .u-btn:active
        {
        background-color: var(--button-active-background-color);
        color: var(--button-active-color);
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > blockquote,
        .u-gradient > .u-container-layout > blockquote,
        .u-image:not(.u-shading) > .u-container-layout > blockquote,
        blockquote
        {
        border-color: var(--blockquote-border-color);
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-input,
        .u-gradient > .u-container-layout > .u-input,
        .u-image:not(.u-shading) > .u-container-layout > .u-input,
        .u-input
        {
        border-color: var(--form-input-border-color);
        background-color: var(--form-input-background-color);
        color: var(--form-input-color);
        }
        /** color-rules **/

        /** alt-color-rules **/
        .u-custom-color-1 a,.u-custom-color-2 a,.u-custom-color-3 a,.u-custom-color-4 a,.u-body-color a,.u-palette-1-base a,.u-palette-1-dark-3 a,.u-palette-1-dark-2 a,.u-palette-1-dark-1 a,.u-palette-1 a,.u-palette-1-light-1 a,.u-palette-2-base a,.u-palette-2-dark-3 a,.u-palette-2-dark-2 a,.u-palette-2-dark-1 a,.u-palette-2 a,.u-palette-2-light-1 a,.u-palette-3-dark-3 a,.u-palette-3-dark-2 a,.u-palette-3-dark-1 a,.u-palette-4-base a,.u-palette-4-dark-3 a,.u-palette-4-dark-2 a,.u-palette-4-dark-1 a,.u-palette-5-dark-3 a,.u-palette-5-dark-2 a,.u-palette-5-dark-1 a,.u-grey-40 a,.u-grey-30 a,.u-grey-90 a,.u-grey-80 a,.u-grey-75 a,.u-black a,.u-grey-70 a,.u-grey-60 a,.u-grey-50 a,.u-grey-dark-3 a,.u-grey-dark-2 a,.u-grey-dark-1 a,.u-grey a,.u-shading a,.u-overlap-contrast .u-header a:not(.u-nav-link):not(.u-btn)
        {
        color: var(--hyperlink-alt-text-color);
        }
        .u-custom-color-1 a:hover,.u-custom-color-2 a:hover,.u-custom-color-3 a:hover,.u-custom-color-4 a:hover,.u-body-color a:hover,.u-palette-1-base a:hover,.u-palette-1-dark-3 a:hover,.u-palette-1-dark-2 a:hover,.u-palette-1-dark-1 a:hover,.u-palette-1 a:hover,.u-palette-1-light-1 a:hover,.u-palette-2-base a:hover,.u-palette-2-dark-3 a:hover,.u-palette-2-dark-2 a:hover,.u-palette-2-dark-1 a:hover,.u-palette-2 a:hover,.u-palette-2-light-1 a:hover,.u-palette-3-dark-3 a:hover,.u-palette-3-dark-2 a:hover,.u-palette-3-dark-1 a:hover,.u-palette-4-base a:hover,.u-palette-4-dark-3 a:hover,.u-palette-4-dark-2 a:hover,.u-palette-4-dark-1 a:hover,.u-palette-5-dark-3 a:hover,.u-palette-5-dark-2 a:hover,.u-palette-5-dark-1 a:hover,.u-grey-40 a:hover,.u-grey-30 a:hover,.u-grey-90 a:hover,.u-grey-80 a:hover,.u-grey-75 a:hover,.u-black a:hover,.u-grey-70 a:hover,.u-grey-60 a:hover,.u-grey-50 a:hover,.u-grey-dark-3 a:hover,.u-grey-dark-2 a:hover,.u-grey-dark-1 a:hover,.u-grey a:hover
        {
        color: var(--hyperlink-hover-alt-text-color);
        }
        .u-custom-color-1 .u-btn,.u-custom-color-2 .u-btn,.u-custom-color-3 .u-btn,.u-custom-color-4 .u-btn,.u-body-color .u-btn,.u-palette-1-base .u-btn,.u-palette-1-dark-3 .u-btn,.u-palette-1-dark-2 .u-btn,.u-palette-1-dark-1 .u-btn,.u-palette-1 .u-btn,.u-palette-1-light-1 .u-btn,.u-palette-2-base .u-btn,.u-palette-2-dark-3 .u-btn,.u-palette-2-dark-2 .u-btn,.u-palette-2-dark-1 .u-btn,.u-palette-2 .u-btn,.u-palette-2-light-1 .u-btn,.u-palette-3-dark-3 .u-btn,.u-palette-3-dark-2 .u-btn,.u-palette-3-dark-1 .u-btn,.u-palette-4-base .u-btn,.u-palette-4-dark-3 .u-btn,.u-palette-4-dark-2 .u-btn,.u-palette-4-dark-1 .u-btn,.u-palette-5-dark-3 .u-btn,.u-palette-5-dark-2 .u-btn,.u-palette-5-dark-1 .u-btn,.u-grey-40 .u-btn,.u-grey-30 .u-btn,.u-grey-90 .u-btn,.u-grey-80 .u-btn,.u-grey-75 .u-btn,.u-black .u-btn,.u-grey-70 .u-btn,.u-grey-60 .u-btn,.u-grey-50 .u-btn,.u-grey-dark-3 .u-btn,.u-grey-dark-2 .u-btn,.u-grey-dark-1 .u-btn,.u-grey .u-btn,.u-shading .u-btn,.u-overlap-contrast .u-header .u-btn
        {
        background-color: var(--button-alt-background-color);
        color: var(--button-alt-color);
        }
        .u-custom-color-1 .u-btn:hover,.u-custom-color-2 .u-btn:hover,.u-custom-color-3 .u-btn:hover,.u-custom-color-4 .u-btn:hover,.u-body-color .u-btn:hover,.u-palette-1-base .u-btn:hover,.u-palette-1-dark-3 .u-btn:hover,.u-palette-1-dark-2 .u-btn:hover,.u-palette-1-dark-1 .u-btn:hover,.u-palette-1 .u-btn:hover,.u-palette-1-light-1 .u-btn:hover,.u-palette-2-base .u-btn:hover,.u-palette-2-dark-3 .u-btn:hover,.u-palette-2-dark-2 .u-btn:hover,.u-palette-2-dark-1 .u-btn:hover,.u-palette-2 .u-btn:hover,.u-palette-2-light-1 .u-btn:hover,.u-palette-3-dark-3 .u-btn:hover,.u-palette-3-dark-2 .u-btn:hover,.u-palette-3-dark-1 .u-btn:hover,.u-palette-4-base .u-btn:hover,.u-palette-4-dark-3 .u-btn:hover,.u-palette-4-dark-2 .u-btn:hover,.u-palette-4-dark-1 .u-btn:hover,.u-palette-5-dark-3 .u-btn:hover,.u-palette-5-dark-2 .u-btn:hover,.u-palette-5-dark-1 .u-btn:hover,.u-grey-40 .u-btn:hover,.u-grey-30 .u-btn:hover,.u-grey-90 .u-btn:hover,.u-grey-80 .u-btn:hover,.u-grey-75 .u-btn:hover,.u-black .u-btn:hover,.u-grey-70 .u-btn:hover,.u-grey-60 .u-btn:hover,.u-grey-50 .u-btn:hover,.u-grey-dark-3 .u-btn:hover,.u-grey-dark-2 .u-btn:hover,.u-grey-dark-1 .u-btn:hover,.u-grey .u-btn:hover,.u-shading .u-btn:hover,.u-overlap-contrast .u-header .u-btn:hover
        {
        background-color: var(--button-hover-alt-background-color);
        color: var(--button-hover-alt-color);
        }
        .u-custom-color-1 .u-btn:active,.u-custom-color-2 .u-btn:active,.u-custom-color-3 .u-btn:active,.u-custom-color-4 .u-btn:active,.u-body-color .u-btn:active,.u-palette-1-base .u-btn:active,.u-palette-1-dark-3 .u-btn:active,.u-palette-1-dark-2 .u-btn:active,.u-palette-1-dark-1 .u-btn:active,.u-palette-1 .u-btn:active,.u-palette-1-light-1 .u-btn:active,.u-palette-2-base .u-btn:active,.u-palette-2-dark-3 .u-btn:active,.u-palette-2-dark-2 .u-btn:active,.u-palette-2-dark-1 .u-btn:active,.u-palette-2 .u-btn:active,.u-palette-2-light-1 .u-btn:active,.u-palette-3-dark-3 .u-btn:active,.u-palette-3-dark-2 .u-btn:active,.u-palette-3-dark-1 .u-btn:active,.u-palette-4-base .u-btn:active,.u-palette-4-dark-3 .u-btn:active,.u-palette-4-dark-2 .u-btn:active,.u-palette-4-dark-1 .u-btn:active,.u-palette-5-dark-3 .u-btn:active,.u-palette-5-dark-2 .u-btn:active,.u-palette-5-dark-1 .u-btn:active,.u-grey-40 .u-btn:active,.u-grey-30 .u-btn:active,.u-grey-90 .u-btn:active,.u-grey-80 .u-btn:active,.u-grey-75 .u-btn:active,.u-black .u-btn:active,.u-grey-70 .u-btn:active,.u-grey-60 .u-btn:active,.u-grey-50 .u-btn:active,.u-grey-dark-3 .u-btn:active,.u-grey-dark-2 .u-btn:active,.u-grey-dark-1 .u-btn:active,.u-grey .u-btn:active,.u-shading .u-btn:active,.u-overlap-contrast .u-header .u-btn:active
        {
        background-color: var(--button-active-alt-background-color);
        color: var(--button-active-alt-color);
        }
        /** alt-color-rules **/
