/* desktop */
.u-header{
  background-image:none;
  height: 153px;
}
.u-header .u-image-1 {
  width: 9%;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1% auto 0 0;
}

.u-header .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-header .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 353px;
  /*margin: -90px auto 0;*/
}

.u-header .u-text-2 {
  width: 100%; 
  margin: 0 auto;
}
.u-header .u-menu-1 {
  margin-top:10px;
}
.u-header .u-nav-1 {
/*   border:solid; */
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}
.u-header .u-nav-item{
/*   border:solid; */
  min-width:35vh;
}
.u-header .u-nav-2 {
  font-size: 1.25rem;
}
.u-header .u-search-1 {
  min-height: 48px;
  background-image: linear-gradient(to right, #adf6f2, white);
  margin: -40px 0 0 auto;
}
.u-header .u-search-icon-1 {
  width: 25px;
  height: 27px;
  padding: 4px;
}

.u-header .u-image-1, .u-header .u-image-1:before, .u-header .u-image-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position
}
.u-header .u-image-1:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    transform: scale(1) translateY(px) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important
}
.u-header .u-image-1 {
    border-color: transparent !important
}
.u-header .u-image-1.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    transform: scale(1) translateY(px) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important
}
.u-header .u-image-1 {
    border-color: transparent !important
}
.u-header .u-container-layout:hover .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-container-layout.hover .u-header .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}

              /* Footer */
.u-footer .u-sheet-1 {
  min-height: 160px;
}

.u-footer .u-image-1 {
  width: 105px;
  height: 53px;
  margin: 23px auto 0 23px;
}

.u-footer .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-footer .u-social-icons-1 { 
  height: 51px;
  min-height: 16px;
  width: 359px;
  min-width: 146px;
  white-space: nowrap;
  position:absolute;
  margin-top: -7%;
  margin-left: 70%;
}

.u-footer .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-footer .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-footer .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-footer .u-icon-4 {
  color: rgb(0, 122, 185) !important;
}

.u-footer .u-icon-5 {
  color: rgb(210, 34, 21) !important;
}

.u-footer .u-icon-6 {
  color: rgb(0, 230, 118) !important;
}

.u-footer .u-text-1 {
  margin: -60px 660px 0 376px;
}

.u-footer .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-footer .u-text-2 {
  margin: -28px 836px 0 200px;
}

.u-footer .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-footer .u-text-3 {
  width: 631px;
  margin: 45px auto 23px;
}

/* mobile-ratio 9:16 */
@media only screen and (max-aspect-ratio: 9/16){
/*   HEADER  */
  .u-header{
    height:auto;
  }
  .u-header .u-sheet-1{
    min-width:95%;
  }
  .u-header .u-text-1{
/*     border:solid; */
    font-size:5vw;
    width:40vw;
   /* margin-top:-8vw ;*/
  }
  .u-header .u-text-2{
/*     display:none; */
  }
  .u-header .u-nav-1 {
/*     border:solid 1px; */
    font-size:2vw;    
    margin:auto !important;
    max-height:7vh;
 }
  .u-header .u-nav-item,
  .u-header .u-nav-link{
/*    border:solid 1px; */
   width:10vw;
   max-height:7vh;
 }  
            /*   FOOTER  */  
  .footer .u-sheet-1{
/*     border:solid red 1px; */
    min-width:95% !important; 
  }
  .u-footer *{
/*     border:solid #28b8b0 1px; */
  }
  .u-footer .u-social-url{
/*     border:solid; */
    margin:auto !important;
    height:auto;
  }
  .u-footer .u-social-icons-1{
/*     border:solid #fff; */
    margin-left:65%; 
    margin-top:-4.5vh;
    height:auto;
  }  
  .u-footer [class*="u-icon-"]{
/*     border:solid; */
    margin:auto;
    width:40%; 
  }
  .u-footer .u-text-3{
/*     border:solid #db545a; */
    margin:auto !important;
  }
  
  
}
/* tablet */
/* @media only screen and (orientation: portrait) {} */
/*  */
.u-offcanvas .u-sidenav { flex-basis: 250px !important; }
.u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }
.u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }
@keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }
@keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }
@keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }
@keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }            
.u-disable-duration * {transition-duration: 0s !important;}
