#sec-8dde > div > p.u-align-center.u-text.u-text-1,/*about*/
#sec-8dde > div > p.u-align-center.u-text.u-text-2,/*coctact*/
#sec-fbc0 > div > form,
#sec-8dde > div > div > a:nth-child(1),
#sec-8dde > div > div > a:nth-child(2),
#sec-8dde > div > div > a:nth-child(4),
#sec-8dde > div > div > a:nth-child(6)
{display:none;}

/* mobile-small*/
@media only screen and (max-width:768px){
 .u-block-67a6-1{ /* slideshow container */
    display:none;
  }  
 html * {
/*     border:solid 1px; */
 }
 html {
    border:solid 1px;
    background-color:greenyellow;
 }
    body{
/*         background-color:red !important; */
        min-height:100%;
    }

}/*END: 9:16 */