/* upcoming features
- search device
- sort devices by prices
- filter devices by Features: ram | rom | camera
- about page
- contact page
- feedback page
- login page
*/

.u-footer .block-page-links .u-text-1,/*about */
.u-footer .block-page-links .u-text-2,/*contact*/
.u-footer .block-page-links .u-text-3,/*feedback*/
.u-section-3 .u-text-4,/* views */
.u-section-3 .u-text-5,/* ratings */
#sec-fbc0 > div > form,
#device-info-1{display:none;}
#device-info-2{display:block;}

a.u-back-to-top{/* back to top button */ 
 height: 45px;
 width: 45px;
 margin-left: 0px;
 margin-right: auto;
 margin-top: 0px;
 right: 20px;
 bottom: 20px; 
 padding: 10px; 
 display: block; 
}
html * {
/*     border:solid 1px; */
 }
html {
/*     border:solid 1px; */
    background-color:greenyellow;
}
body{
/*         background-color:red !important;  */
   min-height:100%;
}
/* custom bold text */ 
b2{ font-weight:700}

/* phone screens */
@media only screen and (width <= 800px){
 #device-info-1{display:block;}

 a.u-back-to-top,
 #device-info-2{display:none;} 
}