/* .u-section-3

.u-image-1     device image

.u-container-layout-1  image grid
.u-container-layout-2  info grid
.u-container-layout-3  title
.u-container-layout-4  descriiption
.u-container-layout-5  button and prices
.u-container-layout-6  views and ratings

.u-layout-cell-2  info grid
.u-layout-cell-3  title
.u-layout-cell-4  description
.u-layout-cell-5  button and price
.u-layout-cell-6  views and ratings

.u-layout-wrap-1  product container
.u-layout-wrap-2  info grid

.u-text-1  title
.u-text-2  description
.u-text-3  price
.u-text-4  views
.u-text-5  ratings

.u-btn-1  buy button

.u-icon-1  buy button cart icon
.u-icon-2  ruppe icon
*/
.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position
}
.u-section-3 .u-text-3 {
  border-color: transparent !important;
}
.u-section-3 .u-text-3.u-text-3.u-text-3:hover,
.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
    box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important
}
.u-section-3 .u-container-layout:hover .u-text-3,
.u-container-layout.hover .u-section-3 .u-text-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-section-3 .u-sheet-1 {
  min-height: 1042px;
}
.u-section-3 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.u-section-3 .u-layout-wrap-2 {
  background-image: linear-gradient(#adf6f2, #eafdfc);
  margin-top: 0;
  margin-bottom: 0;  
}
.u-section-3 .u-image-1 {
  min-height: 200px;
  background-position: 50% 50%;
  margin: auto;
}
.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
  height: 200px;
}
.u-section-3 .u-layout-cell-2 {
  height: 300px;
/*   min-height: 492px; */
}
.u-section-3 .u-container-layout-2 {
  padding: 0;
}
.u-section-3 .u-layout-cell-3 {
  height: 30px;
}
.u-section-3 .u-container-layout-3 {
  padding: 0 5% 0 5%;
}
.u-section-3 .u-text-1 {
  margin: 0.5% auto auto;
  font-family: var(--text-font);
  font-size:large;
  font-weight:700;
}
.u-section-3 .u-layout-cell-4 {
  height: 120px;
}
.u-section-3 .u-container-layout-4 {
  padding: 0 10px 36px;
}
.u-section-3 .u-text-2 {
  margin: 0 0.5% 0 0.5%;
  letter-spacing: 0.5px;
  font-size:small; 
}
.u-section-3 .u-layout-cell-5 {
  height: 70px;
}
.u-section-3 .u-container-layout-5 {
  padding: 0 65px;
}
.u-section-3 .u-btn-1 {
  font-size: x-small;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: linear-gradient(#f1c50e, #d58700);
  margin: 2px auto 0 0;
}
.u-section-3 .u-icon-1 {
  margin-right: 5px;
  font-size: 2.1429em;
  vertical-align: -4px;
}
.u-section-3 .u-text-3 {
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 700;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.25s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -10% 0 0 auto;
}
.u-section-3 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 0;
  font-size: 0.8334em;
}
.u-section-3 .u-layout-cell-6 {
  height: 100px;
}
.u-section-3 .u-container-layout-6 {
  padding: 0 130px 20px 130px;
}
.u-section-3 .u-text-4 {
  margin: 5% auto 0 0;
  font-size: small;
}
.u-section-3 .u-text-5 {
  margin: -7% 0 0 auto;
  font-size: small;  
}

@media (orientation: portrait) {
  .u-right-cell{
/*     border:solid 1px; */
    margin-bottom:10%;
  }
 .u-section-3 .u-layout-wrap-2 {
/*     border:solid 1px; */
  }
  .u-container-layout-4{
/*     border:solid; */
    overflow:overlay;
    padding:1% 0 !important;
  }
  .u-text-2{    
/*     border:solid red; */
    font-size:70% !important;
  }
  .u-container-layout-5{
/*     border:solid; */
    padding:0 !important;
    margin:auto;
    display:flex;
/*     margin-top:10%; */
  }
  .u-text-3{
    margin:5%!important;
  }  
.u-container-layout-6{
/*     border:solid; */
    padding:0 !important;
    display:flex;
    max-height:40%;
  } 
  .u-text-4,.u-text-5{
/*     border:solid;     */
    margin:auto !important;
  }
}