/* .u-section-3 .product

.u-layout-left  image
.u-layout-right info grid

.u-container-layout-1  device image
.u-container-layout-2  info grid
.u-container-layout-3  title
.u-container-layout-4  descriiption
.u-container-layout-5  button and prices
.u-container-layout-6  views and ratings

.u-image-1 device image

.u-text-1  title
.u-text-2  description
.u-text-3  price
.u-text-4  views
.u-text-5  ratings

.u-btn-1  buy button

.u-icon-1  buy button cart icon
.u-icon-2  ruppe icon
*//*                -- screens --
phone   <= 425px
tablet  <= 768px
laptop  <= 1024px
desktop <= 1440px
*/
/* standard values to all ***********************************/
.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position
}
.u-section-3 .u-text-3 {
  border-color: transparent !important;
}
.u-section-3 .u-text-3.u-text-3.u-text-3:hover,
.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
    box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important
}
.u-section-3 .u-container-layout:hover .u-text-3,
.u-container-layout.hover .u-section-3 .u-text-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-section-3 .u-sheet-1 {
/*   border:solid red;  */
  min-height: 82vh;
  margin: 1vw auto;
}
/* product */
.u-section-3 .u-layout{
/*   border:solid red; */
  margin-top:1vw;
  display:flex;
  padding:0 2vw;
}
/* image */
.u-section-3 .u-layout-left {
/*   border:solid red; */
}
.u-section-3 .u-image-1 {
/*   border:solid red; */
  height: 100%;
  width:20vw;
  background-position: 50% 50%;
  margin: auto;
}
/* info */
.u-section-3 .u-layout-right {
/*   border:solid red; */
  background-image: linear-gradient(#adf6f2, #eafdfc);
}
/* title */
.u-section-3 .u-container-layout-2 {
/*   border:solid red; */
}
.u-section-3 .u-text-1 {
/*   border:solid red; */
  margin: 0.5% auto auto;
  font-family: var(--text-font);
  font-weight:700;
}
/* description */
.u-section-3 .u-container-layout-3 {
/*   border:solid red; */
  padding:1px 5px;
  text-align:-webkit-auto;
}
.u-section-3 .u-text-2 {
/*   border:solid red; */
  margin: 0 0.5% 0 0.5%;
  letter-spacing: 0.5px;
  font-size:small;
}
/* button and price */
.u-section-3 .u-container-layout-4 {
/*   border:solid red; */
  height:70px;
  padding-top:15px;
}
.u-section-3 .u-btn-1 {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: linear-gradient(#f1c50e, #d58700);
  left: 4rem;
  top:0.3vw;
}
.u-section-3 .u-icon-1 {
  margin-right: 5px;
  font-size: 2.1429em;
  vertical-align: -4px;
}
.u-section-3 .u-text-3 {
  font-size: larger;
  letter-spacing: 1px;
  font-weight: 700;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.25s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  bottom:3.5rem;
  left:20rem;
}
.u-section-3 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 0;
  font-size: 0.8334em;
}
/* views and ratings */
.u-section-3 .u-container-layout-5 {
/*   border:solid red; */
  height:30px;
  display:flex;
  justify-content:right;
}
.u-section-3 .u-text-4,
.u-section-3 .u-text-5{
/*   border:solid red; */
  margin:0 1vw;
  font-size: small;
}
/* END: standard to all screens */
/*################ tablet screens ##################*/
@media only screen and (425px < width <= 768px){
.u-section-3 .u-sheet-1 {
/*   border:solid green;  */
}
/* product */
.u-section-3 .u-layout{
/*   border:solid green; */
}
/* image */
.u-section-3 .u-layout-left {
/*   border:solid green;/ */
}
.u-section-3 .u-image-1 {
/*   border:solid green; */
}
/* info */
.u-section-3 .u-layout-right {
/*   border:solid green; */
}
/* title */
.u-section-3 .u-container-layout-2 {
/*   border:solid green; */
}
.u-section-3 .u-text-1 {
/*   border:solid green; */
}
/* description */
.u-section-3 .u-container-layout-3 {
/*   border:solid green; */
  padding:1px 10px;
  text-align:justify;
}
.u-section-3 .u-text-2 {
/*   border:solid green; */
  letter-spacing:0;
  font-size:13px;
}
/* button and price */
.u-section-3 .u-container-layout-4 {
/*   border:solid green; */
  height:50px;
  padding-top:5px;
}
.u-section-3 .u-btn-1 {
  font-size: xx-small;
  letter-spacing:0;
  padding:6px 20px;
}
.u-section-3 .u-icon-1 {
}
.u-section-3 .u-text-3 {
  font-size: large;
  letter-spacing: 2px;
}
.u-section-3 .u-icon-2 {
  font-size: 0.9334em;
}
/* views and ratings */
.u-section-3 .u-container-layout-5 {
/*   border:solid green; */
}
.u-section-3 .u-text-4,
.u-section-3 .u-text-5{
/*   border:solid green; */
}
}/* END:  tablet screens */
/*################ phone screens ##################*/
@media only screen and (width <= 425px){
.u-section-3 .u-sheet-1 {
/*   border:solid blue; */
  min-width:100%;
  margin-top:30px;
}
/* product */
.u-section-3 .u-layout{
/*   border:solid blue; */
  display:block;
}
/* image */
.u-section-3 .u-layout-left {
/*   border:solid blue; */
  height:150px;
}
.u-section-3 .u-image-1 {
/*   border:solid blue; */
  width:100%;
}
/* info */
.u-section-3 .u-layout-right {
/*   border:solid blue; */
}
/* title */
.u-section-3 .u-container-layout-2 {
/*   border:solid blue; */
}
.u-section-3 .u-text-1 {
/*   border:solid blue; */
}
/* description */
.u-section-3 .u-container-layout-3 {
/*   border:solid blue; */
  padding:1px 10px;
  text-align:justify;
}
.u-section-3 .u-text-2 {
/*   border:solid blue; */
  letter-spacing:0;
  font-size:12px;
}
/* button and price */
.u-section-3 .u-container-layout-4 {
/*   border:solid blue; */
}
.u-section-3 .u-btn-1 {
  font-size: xx-small;
  letter-spacing:0;
  padding:6px 20px;
  left:2rem;
}
.u-section-3 .u-icon-1 {
}
.u-section-3 .u-text-3 {
  font-size: larger;
  letter-spacing: 2px;
  left:14rem
}
.u-section-3 .u-icon-2 {
  font-size: 0.9334em;
}
/* views and ratings */
.u-section-3 .u-container-layout-5 {
/*   border:solid blue; */
}
.u-section-3 .u-text-4,
.u-section-3 .u-text-5{
/*   border:solid blue; */
}
}/* END:  phone screens */
