/* 
.u-image-1

.u-container-layout-1
.u-container-layout-2
.u-container-layout-3
.u-container-layout-4
.u-container-layout-5
.u-container-layout-6

.u-layout-cell-2
.u-layout-cell-3
.u-layout-cell-4
.u-layout-cell-5
.u-layout-cell-6

.u-layout-wrap-1
.u-layout-wrap-2

.u-text-1
.u-text-2
.u-text-3
.u-text-4
.u-text-5

.u-btn-1

.u-icon-1
.u-icon-2
*/
.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position
}
.u-section-3 .u-text-3 {
  border-color: transparent !important;
}
.u-section-3 .u-text-3.u-text-3.u-text-3:hover,
.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
    box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important
}
.u-section-3 .u-container-layout:hover .u-text-3,
.u-container-layout.hover .u-section-3 .u-text-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-section-3 .u-sheet-1 {
  min-height: 1042px;
}
.u-section-3 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.u-section-3 .u-layout-wrap-2 {
  background-image: linear-gradient(#adf6f2, #eafdfc);
  margin-top: 0;
  margin-bottom: 0;
}
.u-section-3 .u-image-1 {
  min-height: 490px;  
  background-position: 50% 50%;
}
.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}
.u-section-3 .u-layout-cell-2 {
  min-height: 492px;
}
.u-section-3 .u-container-layout-2 {
  padding: 0;
}
.u-section-3 .u-layout-cell-3 {
  min-height: 101px;
}
.u-section-3 .u-container-layout-3 {
  padding: 0 79px;
}
.u-section-3 .u-text-1 {
  margin: 29px auto auto;
  font-family: var(--text-font);
  font-size:xx-large;
  font-weight:700;  
}
.u-section-3 .u-layout-cell-4 {
  min-height: 200px;
}
.u-section-3 .u-container-layout-4 {
  padding: 0 10px 36px;
}
.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}
.u-section-3 .u-layout-cell-5 {
  min-height: 72px;
}
.u-section-3 .u-container-layout-5 {
  padding: 0 65px;
}
.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: linear-gradient(#f1c50e, #d58700);
  margin: 2px auto 0 0;
}
.u-section-3 .u-icon-1 {
  margin-right: 5px;
  font-size: 2.1429em;
  vertical-align: -4px;
}
.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.25s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -61px 0 0 auto;
}
.u-section-3 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 0;
  font-size: 0.8334em;
}
.u-section-3 .u-layout-cell-6 {
  min-height: 107px;
}
.u-section-3 .u-container-layout-6 {
  padding: 0 184px 20px 148px;
}
.u-section-3 .u-text-4 {
  margin: 29px auto 0 0;
}
.u-section-3 .u-text-5 {
  margin: -29px 0 0 auto;
}
@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 955px;
  }
  .u-section-3 .u-layout-wrap-2 {
    position: relative;
    margin-top: 0;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 101px;
  }
  .u-section-3 .u-text-1 {
    margin-left: -9px;
    margin-right: -9px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 211px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 72px;
  }
  .u-section-3 .u-btn-1 {
    margin-top: 31px;
  }
  .u-section-3 .u-text-3 {
    margin-right: 90px;
  }
  .u-section-3 .u-layout-cell-6 {
    min-height: 107px;
  }
  .u-section-3 .u-text-4 {
    margin-top: 25px;
  }
  .u-section-3 .u-text-5 {
    margin-top: -53px;
  }
  .u-section-3 .u-layout-wrap-1 {
    width: auto;
  }
  .u-section-3 .u-image-1 {
    min-height: 404px;
  }
}
@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 767px;
  }
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-3 .u-container-layout-3 {
    padding: 0 30px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
  .u-section-3 .u-container-layout-5 {
    padding: 0 30px;
  }
  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-section-3 .u-image-1 {
    min-height: 309px;
  }
}
@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2498px;
  }
  .u-section-3 .u-image-1 {
    min-height: 984px;
  }
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-layout-cell-2 {
    min-height: 984px;
  }
  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
  }
  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-btn-1 {
    margin-top: 48px;
  }
  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: -36px;
  }
  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-3 .u-text-4 {
    margin-top: 21px;
  }
  .u-section-3 .u-text-5 {
    margin-top: -47px;
  }
}
@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2326px;
  }
  .u-section-3 .u-layout-wrap-2 {
    width: 340px;
  }
  .u-section-3 .u-image-1 {
    min-height: 292px;
  }
}
/*  */
.u-section-4 .u-sheet-1 {
  min-height: 11px;
}
