/* default */
.u-block-67a6-1{ /* slideshow container */
}
.u-block-67a6-2 { /* dots */
  position: absolute;
  top: auto;
  bottom: 5px;
  width: auto;
  height: auto;
  cursor:pointer;
}
.u-block-67a6-3 { /* prev button */
  right: auto;
  left: calc(((100% - 1140px) / 2) + -85px);
}
.u-block-67a6-4 { /* next button */
  right: calc(((100% - 1140px) / 2) + -85px);
  left: auto;
}

.u-block-67a6-3, .u-block-67a6-4{ /* prev & next button */
  width: 46px;
  height: 46px;
  top: 338px;
  position: absolute;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 8px;
}

[class*="u-section-2-"] .u-sheet-1 {
  height: 500px;
  background-attachment: fixed;
}

/* different displays */
@media (orientation: portrait) {
  .u-block-67a6-1{ /* slideshow container */
    display:none;        
  }  
}

