/* .u-section-2

.u-sheet-1
.u-text-1  table title

.u-table-header-1  table header row
.u-table-footer-1  table footer row
.u-first-column    table first column

.u-table-cell-1    Compare Specifications
.u-table-cell-2 -3 -4  header row cell
.u-table-body-1     table all (data cells + left head cells)

.u-btn-*    buy buttons
*/
/* standard values to all ***********************************/
.u-section-2 {
 margin-top:2%;
}
.u-section-2 .u-sheet-1 *{
/*  border:solid red; */
}
.u-section-2 .u-sheet-1 {
/*  border:solid red; */
 width:100% !important; 
}
.u-section-2 .u-text-1 {
/*  border:solid red; */
  font-weight: 700;
 font-size:max(5vw,20px);
 margin:1vw 0;
}
.u-section-2 .u-table-1 {
/*  border:solid red; */
  margin:2vw 0;
  text-transform: capitalize;
}
.u-section-2 .u-table-cell-1{
/*  border:solid red; */
 font-size:max(1.3vw,10px);
 text-align:center;
 font-weight:700;
 padding:0;
}
.u-section-2 select{
  background-color: inherit;
 text-align:center;
 border: none;
}
.u-section-2 .u-first-column{
/*  border:solid red; */
 font-weight: 700;
  font-size:max(1.2vw,10px);
 letter-spacing: 1px;
 opacity:0.7
}
.u-section-2 th[id*="device"] {
/*  border:solid red; */
 font-size:max(1.3vw,10px);
  font-weight: 700;
  color:black;
 min-width:28vw;
}
.u-section-2 td[id$="-Image"]{
    height: 160px;
    background:white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.u-section-2 .u-table-body-1 td:not(.u-first-column, td[id$="-Price"]){
  font-size: max(1vw,12px);
  text-align:left;
 letter-spacing:1px
}
.u-section-2 td[id$="-Price"] {
/*  border:solid red; */
  font-size: large;
  letter-spacing: 2px;
  font-weight: 700;
  transition-duration: 0.25s;
  color: #11db0d;
 opacity:0.9
}
.u-section-2 td[id$="-Price"]:hover{
    transform: scale(1.1);
}
.u-section-2 .u-table-footer-1 *{
 border:solid transparent;
}
.u-section-2 .u-btn {
 border:solid transparent;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-align:center;
  width: 60%;
  margin: 0 20%;
  padding:5%;
 width:17vw;
}
/* END: standard to all screens */
/*################ phone screens ##################*/
@media only screen and (width <= 800px){
.u-section-2 {}
 .u-section-2 .u-sheet-1{
 border:solid green;
}
 .u-section-2 .u-table-entity {
 }
 .u-section-2 .u-table-1 {
/*  border:solid green; */
 }
.u-section-2 td[id$="-Image"]{
    height: 25vw;
 }
.u-section-2 th[id*="device"],
.u-section-2 .u-table-cell-1{
 font-weight: 500;
 padding:4px
}
.u-section-2 td[id$="-Price"] {
 font-size:12px
}
 .u-section-2 .u-btn {
 font-size:11px;
  width:auto;
}
}/* END:  phone screens */
